/* Dashboard.css */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: xx-large;
}

.column {
    float: left;
    width: 33.33%;
    /* Adjusted to fit 3 columns */
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    border: none;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-left {
    display: block;
    /* Change to block to stack items vertically */
    text-align: left;
}

.card-left img {
    background-image: linear-gradient(to right, #5BEBB3, #5AE1FA);
    padding: 5px;
    margin-bottom: 10px;
}

.card-text {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.card-right {
    font-size: 1.5em;
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-addrefer {
    padding: 8px 16px;
    background-color: #2A99B6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-addrefer:hover {
    background-color: #0056b3;
}

.status-box {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    color: #000;
}

/* Specific colors for different statuses */
.status-schedule {
    background-color: #FFF9E4;
}

.status-pending {
    background-color: #E8FAF4;
}

/* Patient Table Styles */
.patient-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.patient-table thead tr {
    background-color: #F5F5F5;
    color: #3f3f3f;
}

.patient-table thead th {
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #F4F6F9;
}

.patient-table tbody tr {
    background-color: white;
}

.patient-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #F4F6F9;
}

/* Remove borders from the first column */
.patient-table tbody td:first-child,
.patient-table thead th:first-child {
    border: none;
}

/* Hover effect for rows */
.patient-table tbody tr:hover {
    background-color: #f9f9f9;
}

.heading-patients-dashboard {
    margin-left: 3%;
    margin-top: 3%;
}

.add-patient-btn-dashboard {
    margin-right: 4%;
    border: 0px;
    padding: 6px 12px;

    border-radius: 3px;
    background-color: #2A99B6;
    color: #ffffff;
}