.staff-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-staff-btn {
    background-color: #35c0e4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-staff-btn:hover {
    background-color: #2A99B6;
}

.search-container {
    display: flex;
    margin-bottom: 20px;
    width: 35%;
}

.search-input2 {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.clear-btn {
    /* background-color: #e74c3c; */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-btn:hover {
    background-color: #2A99B6;
    color: #ffffff;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tbody tr:hover {
    background-color: #f9f9f9;
}