/* Login Page Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-section {
    width: 50%;
    background: linear-gradient(to bottom, #35C0E4 0%, #4bd9a2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.login-span {
    color: black;
    text-decoration: none;

}

.signup-image {
    width: 40%;
    opacity: 0.9;
}

.right-section {
    width: 50%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.heading-signin {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.text-danger {
    color: red;
    font-size: 12px;
}

.btn {
    padding: 12px;
    background-color: #35C0E4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4a8fab;
}

.footer-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

a {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #35C0E4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}