.patient-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.header {
    margin-bottom: 10px;
}

.heading-patients {
    font-size: 1.8rem;
    color: #333;
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    width: 60%;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.add-patient-btn {
    background-color: #35c0e4;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 260px
}

.add-patient-btn:hover {
    background-color: #2a99b6;
}

.download-pdf-btn {
    padding: 10px 16px;
    background-color: #35c0e4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.download-pdf-btn:hover {
    background-color: #2a99b6;
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 0px;
}

.patient-table th,
.patient-table td {
    padding: 10px;
    text-align: left;
    /* border: 1px solid #ddd; */
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination-btn {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination-btn:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

.page-info {
    font-size: 1rem;
}